<div class="pn-adminformrow">
    <label for="ContactList_numitems">{gt text="How many "next birthday" buddies should be displayed (maximum)"}</label>
    <input id="ContactList_numitems" type="text" name="numitems" value="{$numitems|pnvarprephtmldisplay}" size="5" maxlength="5" />
</div>
<div class="pn-adminformrow">
    <label for="ContactList_dateformat">{gt text="Date format to display month and day in this block"}</label>
    <input id="ContactList_dateformat" type="text" name="numitems" value="{$dateformat|pnvarprephtmldisplay}" size="5" maxlength="8" />
</div>