{pnpageaddvar name="stylesheet" value="modules/ContactList/pnstyle/style.css"}

<strong>{gt text="Your connection to this user"}:</strong>
{if $FOAFLinkDepth eq 0}
<em>{gt text="No link to this user found"}</em>
{else}
<ul class="foaf_list">
    {foreach from=$FOAFList item="buddy" name="friends"}
    {pnusergetvar uid=$buddy.uid name="_YOURAVATAR" assign="avatar"}
    <li>
        <div class="foaf_avatar">
            {if $avatar eq '' or $avatar eq 'blank.gif'}
            {pnimg modname='ContactList' src="avatar_male.gif" height="50" class="avatar"}
            {else}
            <img src="{pngetbaseurl}images/avatar/{$avatar|pnvarprepfordisplay}" class="avatar" height="50" />
            {/if}
        </div>
        <div class="foaf_user">{$buddy.uname|userprofilelink}</div>
    </li>
    {/foreach}
</ul>
{/if}
