<p>
    {gt text='Dear user \'%1$s\'' tag1=$buname},
</p>
<p>
    {gt text='the user \'%1$s\' wants to add you as a buddy at \'%2$s\'' tag1=$uname tag2=$sitename}.
</p>
<p>
    {if $request_text ne ""}
        {gt text="The user has added some text for you"}: <br />
        <i>{$request_text}</i>
    {/if}
</p>
<p>
{gt text="To access your buddy management visit the url"}:
<a href="{$url}">{$url}</a>
</p>
{if $nocounterconnection}
<p>
    <strong>
    {gt text="Attention"}:
    {gt text="This request was automatically accepted because some times ago you wanted the other person to be your buddy"}.
</p>
{/if}