{gt text="Show my buddylist" assign=title}
{include file="user/header.htm" title=$title}
{modavailable modname="InterCom" assign="InterCom"}
{if $state ne ''}{assign var="filterstate" value="&amp;state=`$state`"}{else}{assign var="filterstate" value=""}{/if}

{if $buddies_unconfirmed gt 0}
<div id="cl_pending" class="cl_box z-clearfix">
  <h3>{gt text="These request are awaiting your confirmation"}</h3>
  {foreach from=$buddies_unconfirmed item="buddy"}
  {usergetvar uid=$buddy.uid name="_YOURAVATAR" assign="avatar"}

  <div class="buddybox z-clearfix">
    {if $avatar eq '' or $avatar eq 'blank.gif'}
    {img modname='ContactList' src='avatar_male.gif' class="avatar"}
    {else}
    <img src="images/avatar/{$avatar|safetext}" class="avatar" />
    {/if}

    <h4>{$buddy.uname|userprofilelink}</h4>

    <ul class="cl_userinfo">
      <li><strong>{gt text="Request's date"}:</strong>&nbsp;{$buddy.date|date_format:"$dateformat"}   </li>
      {if $buddy.request_text ne ""}<li><strong>{gt text="Additional contact request text"}:</strong>&nbsp;{$buddy.request_text|safetext}</li>{/if}
      <li>
        <strong>{gt text='Action'}: </strong>
        <a class="image accept" href="{modurl modname="ContactList" type="user" func="main" action="confirm" id=$buddy.id authid=$authid}">{gt text="accept"}</a>
        &nbsp;|&nbsp;
        <a class="image cancel" href="{modurl modname="ContactList" type="user" func="main" action="decline" id=$buddy.id authid=$authid}">{gt text="reject"}</a>
        &nbsp;|&nbsp;
        <a class="image cancel" href="{modurl modname="ContactList" type="user" func="main" action="decline" notification="skip" id=$buddy.id authid=$authid}">{gt text='reject (without notification for \'%1$s\')' tag1=$buddy.uname}</a>
      </li>
    </ul>

  </div>
  {/foreach}
</div>
{/if}

<ul class="navigation">
  <li><a href="{modurl modname="ContactList" type="user" func="main"}">{gt text="All"}</a></li>
  <li><a href="{modurl modname="ContactList" type="user" func="main" state="0"}">{gt text="Unconfirmed"}</a></li>
  <li><a href="{modurl modname="ContactList" type="user" func="main" state="1"}">{gt text="Confirmed"}</a></li>
  <li><a href="{modurl modname="ContactList" type="user" func="main" state="2"}">{gt text="Rejected"}</a></li>
  <li><a href="{modurl modname="ContactList" type="user" func="main" state="3"}">{gt text="Suspended"}</a></li>
</ul>


<div id="cl_contacts" class="cl_box">

  {if $state eq ""}
  <h3>{gt text="Your contacts"}</h3>
  {gt text="Number of confirmed contacts"}:&nbsp;{$contacts}&nbsp;{gt text="of"}&nbsp;{$contacts_all}.
  {elseif $state eq 0}
  <h3>{gt text="Your pending contacts"}</h3>
  <p>{gt text="Number of pending contacts"}:&nbsp;{$contacts_all}.
  {elseif $state eq 1}
  <h3>{gt text="Your confirmed buddies"}</h3>
  <p>{gt text="Number of confirmed contacts"}:&nbsp;{$contacts_all}.
  {elseif $state eq 2}
  <h3>{gt text="Your rejected contacts"}</h3>
  <p>{gt text="Number of rejected contacts"}:&nbsp;{$contacts_all}.
  {elseif $state eq 3}
  <h3>{gt text="Your suspended contacts"}</h3>
  <p>{gt text="Number of suspended contacts"}:&nbsp;{$contacts_all}.
  {/if}
  <br />
  {if $contactinfo.1st gt 0}
  	{gt text="Contacts"} {gt text="1st grade"}: {$contactinfo.1st}, {gt text="2nd grade"}: {$contactinfo.2nd}.
  {/if}
  </p>
  
  {if $contacts_all gt 0}

  {form cssClass='z-form'}
  {formvalidationsummary}
  <fieldset>
    <div class="z-formrow">
        {formlabel for="sort" __text="Sort list"}
        {formdropdownlist id="sort" items=$items_sortlist}
    </div>
    <div class="z-buttons z-formbuttons">
        {formbutton id='btnUpdate' commandName='update' __text='reload' class='z-bt-filter'}
    </div>
</fieldset>
  {/form}

  {configgetvar name='profilemodule' assign='profilemodule'}

  {foreach from=$buddies item="buddy"}
  {usergetvar uid=$buddy.bid name="_YOURAVATAR" assign="avatar"}
  <div class="buddybox z-clearfix">
    {if $avatar eq '' or $avatar eq 'blank.gif'}
    {img modname='ContactList' src='avatar_male.gif' class="avatar"}
    {else}
    <img src="images/avatar/{$avatar|safetext}" class="avatar" alt="{$buddy.uname}" />
    {/if}

    <h4>{$buddy.uname|userprofilelink}{if $buddy.online eq true}&nbsp;<em class="cl_online">({gt text="online"})</em>{/if}</h4>

    <ul class="options">
      <li><a class="image userprofile" href="{modurl modname=$profilemodule type="user" func="view" uid=$buddy.bid}">{gt text="Show Profile"}</a></li>
      {if $InterCom}<li><a class="image mail" href="{modurl modname="InterCom" type="user" func="newpm" uid=$buddy.bid}">{gt text="Send message"}</a></li>{/if}
      {if $nopublicbuddylist ne 1}<li><a class="image showbuddies" href="{modurl modname="ContactList" type="user" func="display" uid=$buddy.bid}">{gt text="Show user's buddies"}</a></li>{/if}
      <li><a class="image useredit" href="{modurl modname="ContactList" type="user" func="edit" id=$buddy.id}">{gt text="Edit contact"}</a></li>
      {if $buddy.state eq 0}<li><a class="image usercancel" href="{modurl modname="ContactList" type="user" func="main" action="suspend" id=$buddy.id authid=$authid}{$filterstate}">{gt text="Cancel request"}</a></li>{/if}
      {if $buddy.state eq 1}<li><a class="image userdelete" href="{modurl modname="ContactList" type="user" func="main" action="suspend" id=$buddy.id authid=$authid}{$filterstate}" onclick="return confirm('{gt text="Should the connection between you and this buddy really be suspended?"}')">{gt text="Suspend"}</a></li>{/if}
      {if $buddy.state eq 2 or $buddy.state eq 3}<li><a class="image userdelete" href="{modurl modname="ContactList" type="user" func="main" action="suspend" id=$buddy.id ne="1" authid=$authid}{$filterstate}">{gt text="Delete"}</a></li>{/if}
      {myprofilecustomfields bid=$buddy.bid}
    </ul>

    <ul class="cl_userinfo">
      <li><strong>{gt text="State"}:</strong>&nbsp;
        {if $buddy.state eq 0}
        {gt text="pending"}
        {elseif $buddy.state eq 1}
        {gt text="confirmed"}
        {elseif $buddy.state eq 2}
        {gt text="Request rejected"}
        {elseif $buddy.state eq 3}
        {gt text="suspended"}
        {/if}
      </li>
      {if $buddy.state eq 0}
      <li>
        <strong>{gt text="Request's date"}:</strong>&nbsp;
      {$buddy.date|date_format:"$dateformat"}</li>
      {/if}
      {if $buddy.birthday}
      <li class="birthday"><strong>{gt text="Birthday"}:</strong>&nbsp;{$buddy.birthday|date_format:"$dateformat"}</li>
      {/if}
      {if $nopubliccomment ne 1 and $buddy.pub_comment ne ""}
      <li><strong>{gt text="Public comment"}:</strong>&nbsp;<em>{$buddy.pub_comment|safetext}</em></li>
      {/if}
      {if $buddy.prv_comment}
      <li><strong>{gt text="Private comment"}:</strong><br /><em>{$buddy.prv_comment|safetext|nl2br}</em></li>
      {/if}
    </ul>
  </div>
  {/foreach}

  {* Display a pager to go to the pages   *}
  {pager show="page" rowcount=$contacts_all limit=$cl_limit posvar=cl_startnum shift=1}

  {/if}
</div>

{include file="user/footer.htm"}
